html {
  font-size: 125%;
}

header {
	padding: 154px 0 100px;
}

@media (min-width: 992px) {
	header {
		padding: 156px 0 100px;
	}
}

section {
	padding: 150px 0;
}

@font-face {
    font-family: 'TTFirsNeueBold';
    src: url('TTFirsNeueBold.woff2') format('woff2'),
         url('TTFirsNeueBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
}

h2 {
	font-family: 'TTFirsNeueBold';
    font-weight: normal;
    font-style: normal;
	font-size: 26px;
	color: black;
}
